.aider.chat*
.aider.input*
.aider.tags*
.idea/
target/
.idea/
__pycache__/
*.iml
/.buildStepsDoneLastExecution
.aeb/
rust/**/Cargo.toml
rust/**/Cargo.lock

# aetherBuild modules
lib/build
lib/java
lib/kotlin
lib/gomod
lib/rust
lib/ts
lib/container
